@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    font-family: Ubuntu;
}

:root {
    --xiketic: #1b1725ff;
    --independence: #534b62ff;
    --heliotrope-gray: #a499b3ff;
    --thistle: #d0bcd5ff;
    --celtic-blue: #226ce0ff;
}

body {
    color: var(--thistle);
}

.city-meteo {
    position: relative;
}

input {
    width: 10em;
}

li {
    display: inline-block;
    margin-left: 20px;
}

ul {
    float: right;
    margin-right: 1em;
}

nav {
    font-size: 1.2em;
}

header {
    display: flex;
    width: 93, 2%;
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    justify-content: space-between;
    background-color: rgba(10, 10, 10, 0.7);
    padding: 0.5em;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

.container {
    margin: 1em 3em;
    padding: 10px;
    display: block;
}

.container img {
    display: inline;
    width: 2em;
}

.container p {
    color: var(--xiketic);
    display: inline;
}

.container>* {
    margin-bottom: 1em;
}

.searchbar-city{
    padding: 100px;
    width: 60%;
    margin: auto;
}

.show-weather-row{
    margin: 4% 13%;
}

canvas{
    margin: 7% 15%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }