@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    font-family: Ubuntu;
}

:root {
    --xiketic: #1b1725ff;
    --independence: #534b62ff;
    --heliotrope-gray: #a499b3ff;
    --thistle: #d0bcd5ff;
    --celtic-blue: #226ce0ff;
}

body {
    color: var(--thistle);
}

.city-meteo {
    position: relative;
}

input {
    width: 10em;
}

li {
    display: inline-block;
    margin-left: 20px;
}

ul {
    float: right;
    margin-right: 1em;
}

nav {
    font-size: 1.2em;
}

header {
    display: flex;
    width: 93, 2%;
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    justify-content: space-between;
    background-color: rgba(10, 10, 10, 0.7);
    padding: 0.5em;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

.container {
    margin: 1em 3em;
    padding: 10px;
    display: block;
}

.container img {
    display: inline;
    width: 2em;
}

.container p {
    color: var(--xiketic);
    display: inline;
}

.container>* {
    margin-bottom: 1em;
}

.search-bar {
    padding: 100px;
    margin: auto;
}